
/* FORCE 90s AESTHETIC */
    body, td, th {
      font-family: "MS PGothic", "IPAMonaPGothic", "Mona", "sans-serif";
      font-size: 10pt;
    }
    body {
      margin: 8px;
    }
    a { text-decoration: none; }
    a:hover { color: #DD0000; }
    
    input[type=text], input[type=password], textarea, input[type=file] {
      border: 1px solid #7F9DB9;
      background-color: #FFFFFF;
      font-family: "MS PGothic", "sans-serif";
      font-size: 10pt;
      padding: 2px;
    }
    input[type=submit], input[type=button] {
      background-color: #D4D0C8; 
      border: 2px outset #FFFFFF;
      font-family: "MS PGothic", "sans-serif";
      font-size: 10pt;
      padding: 1px 6px;
    }
    input[type=submit]:active, input[type=button]:active {
      border: 2px inset #FFFFFF;
    }
    
    blockquote {
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: 3em;
      margin-right: 3em;
    }
    
    .post-container { margin-bottom: 8px; }
